body {
  display: box;
  box-orient: vertical;
  /* The content of the body is horizontally centered */
  box-pack: center;
  /* and vertically as well ... \o/ */
  box-align: center;
  width: 100%;
  height : 100%;
}

#box1 {
  box-flex: 2;
}
#box2 {
  box-flex: 1;
}
#box3 {
  width: 160px;
}

html, body{
	padding : 0;
	margin : 0;
	height : 100%;
	width : 100%
}

.block{
	background : #FFF;
	width : 400px;
	height : 150px;
	margin : 0 auto 2em;
}

.content{
	width : 400px;
	height : 150px;
}

a{
	color : #CCF;
}

h1{
	font-size : 1.4em;
	color : #FFF;
	border-bottom : 1px solid #FFF;
	width : 400px;
	margin : 1em auto;
	text-align : center;
	padding-bottom : 0.6em;
}

p{
	font : 0.7em Verdana, Arial, Helvetica, sans-serif;
	color : #FFF;
	border-top : 1px solid #FFF;
	width : 400px;
	margin : 1em auto;
	text-align : center;
	padding-top : 0.6em;
}

h2{
	font : 0.7em Verdana, Arial, Helvetica, sans-serif;
	background : #CCC;
	margin : 2em auto 0;
	padding : 8px;
	width : 384px;
	
	-moz-border-radius : 5px 5px 0 0;
	-webkit-border-radius : 5px 5px 0 0;
	border-radius : 5px 5px 0 0;
}

.boite strong{
	display : block;
	padding : 10px;
}

.v1{
	background : #FCC;
}

.v2{
	background : #CFC;
}

.v3{
	background : #CCF;
}
